.homepage {
  margin-top: 150px;
}

.lg-header {
  font-size: 36px;
  font-weight: 600;
  color: #000;
}

.middle {
  .sm-header {
    letter-spacing: 5px;
    color: #888;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .link-projects,
  .link-read {
    color: #000;
  }

  .content {
    font-size: 18px;
    line-height: 22px;
    color: #555;
  }
}

.projects-header {
  margin-top: 90px;
  margin-bottom: 75px;
}

@media all and (max-width: 767px) {
  .larger-screens {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .smaller-screens {
    display: none;
  }

  .homepage {
    margin-top: 269px;
  }

  .middle {
    .lg-header {
      letter-spacing: 1px;
      font-weight: 900;
    }

    .homepage-links {
      margin-top: 20px;
      font-weight: 600;
      font-size: 18px;
    }
    .link-projects:hover {
      text-decoration: underline;
    }

    .link-read:hover {
      text-decoration: underline;
    }

    span {
      font-weight: normal;
    }
  }

  .right-home {
    .profile-container {
      border: 2px solid #999;
      width: auto;
      padding: 20px 10px 30px 10px;
      border-radius: 4px;
      box-shadow: 0px 12px 19px rgba(0, 0, 255, 0.4);

      .profile {
        border: 2px solid #f7b733;
        border-radius: 50%;
        width: 215px;
        height: 220px;
      }

      .profile-content {
        margin: 0;
        padding: 0;
        width: auto;
        height: 240px;
        font-size: 18px;
      }
    }

    .profile-container:hover {
      animation: shake 1.2s ease;
    }

    @keyframes shake {
      0% {
        transform: translate(0);
      }
      20%,
      40%,
      60%,
      80% {
        transform: translate(0.8em);
      }
      10%,
      30%,
      50% {
        transform: translate(-0.2em);
      }
      70%,
      100% {
        transform: translate(0);
      }
    }
  }
  // Slider Buttons
  .slick-prev {
    left: -90px;
  }

  .slick-next {
    right: -90px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: #333;
  }

  .home-projects {
    margin-top: 90px;
    margin-bottom: 100px;
  }

  .wedding-home,
  .bakery-home,
  .law-home,
  .estimator-home,
  .expense-home,
  .fancy-form-home,
  .homefurniture-home,
  .netflix-home {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}

@media all and (min-width: 992px) {
  .right-home {
    .profile-container {
      width: 385px;
      .profile-content {
        padding: 5px;
      }
    }
  }
}

@media all and (min-width: 1200px) {
  .br {
    display: none;
  }
  .middle {
    .lg-header {
      width: 540px;
    }

    .homepage-links {
      justify-content: flex-start !important;
    }
  }
}

@media all and (min-width: 1440px) {
  .middle {
    .lg-header {
      font-size: 39px !important;
      width: 590px;
    }
    .content {
      line-height: 24px;
    }
  }
}

@media all and (min-width: 1680px) {
  .middle {
    .homepage-links {
      font-size: 20px;
    }

    .content {
      font-size: 20px;
    }
  }

  .right-home {
    .profile-container {
      .profile-content {
        font-size: 20px;
      }
    }
  }
}

@media all and (min-width: 1920px) {
  .middle {
    .content {
      letter-spacing: 1px;
      line-height: 26px;
    }
  }

  .right-home {
    .profile-container {
      width: 395px;
    }
  }
}
