html,
body {
  overflow-x: hidden !important;
}

body {
  background: #fff;
  color: #333;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  overflow: auto;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 2rem;
}

h2.sm-heading {
  font-size: 1.7rem;
}

h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: linear-gradient(to right, #abbaab, #ffffff);
}

main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.35rem;
}

a {
  color: #fff;
  text-decoration: none !important;
}

main .icons a:hover {
  color: #f5603b;
  transition: all 0.5s ease-out;
}

#about,
#work,
#contact {
  margin-top: 150px;
  margin-bottom: 80px;
}

#contact {
  margin-bottom: 0;
}

/* Work Page */
.projects .covid-19,
.projects .expense-tracker,
.projects .fancy-form,
.projects .netflix-image,
.projects .photography {
  width: 100%;
  border: 3px #fff solid;
}

.projects img:hover {
  opacity: 0.6;
  border-color: #f5603b;
  transition: all 0.6s ease-in-out;
}

.work-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.work-buttons i {
  font-size: 18px;
}

.technologies {
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-content p {
  font-size: 1.2rem;
}

.technologies img {
  margin: 0 20px;
  width: 40px;
  border-radius: 10px;
}

.technologies img:hover {
  border: none;
  opacity: 1;
  transition: none;
}

.btn,
.btn-dark,
.btn-light {
  display: block;
  border: 0;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #f5603b;
  color: #fff;
  transition: all 0.6s ease-in-out;
}

.btn-dark {
  background: black;
  color: #fff;
}
.btn-light {
  background: #f1efef;
  color: #333;
}

.work-content h3 {
  font-weight: bold;
  margin: 0;
}

.work-content {
  border-bottom: 2px solid #4ca1af;
}

/* Contact Page */
.contact-pic {
  width: 100%;
  height: inherit;
}

.sm-header {
  letter-spacing: 5px;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.lg-header {
  letter-spacing: 1px;
  font-size: 44px;
  font-weight: 900;
  color: #000;
}
.lg-header .line-contact {
  margin-left: 10px;
  width: 2.5rem;
  height: 4px;
  background: #333;
}

.contact-right {
  width: 100%;
}

.right-heading {
  color: #888;
  font-size: 24px;
}

.contact-form {
  margin-top: 2rem;
}

@media all and (max-width: 767px) {
  .larger-screens {
    display: none;
  }
}

@media all and (min-width: 768px) {
  /* Homepage Header styling */
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem;
  }

  #about,
  #work,
  #contact {
    margin-top: 200px;
    margin-bottom: 110px;
  }

  /* My Work Page */
  .projects img {
    width: 65%;
  }

  .work-buttons {
    width: 65%;
  }

  .technologies {
    margin-left: -12px;
  }

  /* Contact page */
  .contact-pic {
    width: 85vw;
    height: 85vh;
  }

  .contact-top {
    position: relative;
  }

  .page-content {
    position: absolute;
    top: -85px;
    right: 0;
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 30px;
  }

  .page-content .content-words:nth-child(1) {
    color: #ccc;
  }

  .page-content .content-words:nth-child(3) {
    color: #fff;
  }

  .page-content .content-words:nth-child(5) {
    color: #ccc;
  }

  .page-content .content-words:nth-child(7) {
    color: #fff;
  }

  .content-words .one-letter {
    color: #bbb;
    padding-left: 10px;
  }
}

/* Loader */
.loader-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #141e30, #243b55);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
