@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto+Condensed&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
